name: Python Unit Tests CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          check-latest: true
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'

      - name: Create virtual environment
        run: make create

      - name: Install dependencies
        run: make install

      - name: Run unit tests
        run: make test
